# To autostart, place into ~/.config/autostart/
[Desktop Entry]
Type=Application
Name=PanelUI
Exec=/home/stefan/Projects/eOrgan-firmware/PanelUI/build/PanelUI
StartupNotify=False
Terminal=False

